#root {
  width: 100vw;
}
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #f6f6f6;
  font-style: normal;
}

code {
  font-family: 'Nunito', 'Courier New', monospace;
}

.container {
  padding: 0px 94px;
}
