@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
#root {
  width: 100vw;
}
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #f8f8f8;
  font-style: normal;
}

code {
  font-family: 'Nunito', 'Courier New', monospace;
}

.container {
  padding: 0px 94px;
}

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #233259;
}

::selection {
  color: #fff;
  background: #233259;
}
